@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@font-face {
	font-family: "Evolventa";
	src: local("Evolventa"), url("../fonts/evolventa/Evolventa-Regular.woff") format("woff"), url("../fonts/evolventa/Evolventa-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Evolventa";
	src: local("Evolventa Oblique"), url("../fonts/evolventa/Evolventa-Oblique.woff") format("woff"), url("../fonts/evolventa/Evolventa-Oblique.ttf") format("ttf");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Evolventa";
	src: local("Evolventa Bold"), url("../fonts/evolventa/Evolventa-Bold.woff") format("woff"), url("../fonts/evolventa/Evolventa-Bold.ttf") format("ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Evolventa";
	src: local("Evolventa Bold Oblique"), url("../fonts/evolventa/Evolventa-BoldOblique.woff") format("woff"), url("../fonts/evolventa/Evolventa-BoldOblique.ttf") format("ttf");
	font-weight: bold;
	font-style: italic;
}


/* @font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.eot");
  src: local("☺"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.eot");
  src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Heavy.eot");
  src: local("☺"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg") format("svg");
  font-weight: 900;
  font-style: normal;
} */
