footer {
    background-color: black;
    color:white;
    ._wrapper {
        display: flex;
        flex-direction: column;
    }

    a {
        color: white;
        text-decoration: none;
        margin: 0;
        font-size: 12px;

        &:hover {
            text-decoration: underline;
        }
    }

    .sprite_icon {
        fill: white;
    }

    .cols {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
            gap: 15px;
        }

        padding-top: 20px;

        .col {
            display: flex;
            flex-direction: column;

            .main_menu {
                list-style: none;
                padding: 0;
                margin: 0;

                a {
                    margin: 0;
                }
            }

            .adress {
                margin: 20px 0;
                font-size: 12px;
            }

            .social_line {
                margin: 20px 0;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap:5px;
            }

            .logo {
                width:100px;
                margin-left: 0;
                margin-bottom: 30px;
            }

            h4 {
                font-size: 16px;
                font-weight: 600;
                margin: 15px 0;
                color: #525252;

            }

            a {
                color: inherit;
                text-decoration: none;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 0.8;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }
}
