.icon_a {
    display: flex;
    margin-left: 10px;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;

    & > * {
        margin: auto 5px;
    }
    svg {
        width: 23px;
        height: 23px;

        fill: white;
    }
}
