.review_selector_wrapper {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

    .review_selector {
        min-height: 30px;
        min-width: 100px;
        display: flex;

        .selector {
            margin: auto 10px auto 0;
            border: 1px solid $main_color;
            padding: 5px 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
            padding: 7px 20px;
            font-size: 14px;
            color: black;

            &.active {
                background-color: $main_color;
                color: white;
            }

        }
    }
}

// .sales_hits_section {
//     ._wrapper {
//         // margin-right: 0;
//     }
// }

.reviews_btn_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    margin-top: 40px;

}


.reviews_card {
    display: flex;
    flex-direction: column;
    border: 0.5px solid $main_color;
    padding: 20px;
    height: 100%;

    .text {
        color: $main_color;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 1.2;
    }

    .platform {
        color: $gray_border_color;
        margin-top: auto;
        font-size: 12px;
    }

    .top_blk {
        display: flex;
        margin-bottom: 20px;

        .photo {
            width: 60px;
            height: 60px;
            border-radius: 40px;
            overflow: hidden;
            margin-right: 20px;
        }

        .person {
            display: flex;
            flex-direction: column;
            flex: 1;

            &>* {
                margin-top: auto;
                margin-bottom: auto;
            }

            .vue3-star-ratings {
                margin-bottom: 0;
            }

            p {
                margin-top: 5px;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}

.review_dop {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;

    .side {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    .like_place {
        height: 104px;

        .label {
            width: 81px;
            height: 104px;
            background: url('../img/review/god_place.svg');
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 14px;

            img {
                width: 35px;
                height: auto;
                margin: 15px auto 10px auto;
            }
        }

        .text {
            flex: 1;
            margin: auto 0 auto 20px;
        }
    }

    .qr {
        .bar {
            width: 100px;
            border: 0.5px solid $main_color;
            border-radius: 5px;
            overflow: hidden;
        }

        .text {
            margin: auto 0 auto 20px;
            flex: 1;
        }
    }

}


@media (max-width: 1440px) {
    .sales_hits_section ._wrapper {
        width: 98%;
    }

}

@media (max-width: 1024px) {
    .review_dop {
        flex-direction: column-reverse;

        .qr {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 480px) {

    .reviews_card .top_blk {
        .photo {
            margin-bottom: 20px;
        }
    }

    .review_dop {
        .side {
            flex-direction: column;
            height: auto;

            .text {
                margin: 10px auto 10px auto;
                text-align: center;
            }

            .bar,
            .label {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 375px) {
    .reviews_card .text {
        font-size: 12px;
    }
}