.tovar_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tovar_card_new {
    width:100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;

    .img_wrapper {
        height: 360px;
        position: relative;

        .t_label_wrapper{
            top:10px;
            left: 10px;
            position: absolute;
            display: flex;
            gap:5px;
            flex-direction: column;
            z-index: 2;
            .t_label {
                background-color: white;
                text-align: center;
                margin-right: auto;
                padding: 2px 8px;
                font-size: 12px;
                border-radius: 10px;
                color:black;
            }
        }
        .tovar_img {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity .25s ease;
        }

        .tovar_img_second {
            opacity: 0;
        }

        .tovar_img_first {
            opacity: 1;
        }

        &.has-second:hover {
            .tovar_img_first {
                opacity: 0;
            }
            .tovar_img_second {
                opacity: 1;
            }
        }
    }

    p {
        margin: 20px 0;
        font-size: 20px;
        line-height: 1.2;
    }

    .price{
        margin-top: auto;
        display:  flex;
        justify-content: space-between;

        .price_digit{
            margin: auto auto auto 0;
        }

        .old {
            text-decoration: line-through;
            font-size: 12px;
            color: $gray_border_color;
        }
    }
}


@media (hover: none) {
  .tovar_card_new .img_wrapper.has-second:active .tovar_img_first { opacity: 0; }
  .tovar_card_new .img_wrapper.has-second:active .tovar_img_second { opacity: 1; }
}

@media (max-width: 768px){
    .tovar_card_new {
        max-width: 220px;
        .img_wrapper {
            height: 280px;
        }
    }
}

@media (max-width: 480px){
    .tovar_card_new {
        max-width: 47%;
        .img_wrapper {
            height: 265px;
        }
        p {
            margin-bottom: 10px;
            font-size: 14px;
        }
        .price {
            flex-direction: column;
            .button {
                margin-top: 10px;
                font-size: 12px;
                padding: 7px 17px;
            }
        }
    }

    .tovar_wrapper {
        gap: 10px;
    }
}
