.tovar_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tovar_card_new {
    width:100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;

    .img_wrapper {
        height: 360px;
        position: relative;

        .t_label_wrapper{
            top:10px;
            left: 10px;
            position: absolute;
            display: flex;
            gap:5px;
            flex-direction: column;

            .t_label {
                background-color: white;
                text-align: center;
                margin-right: auto;
                padding: 2px 8px;
                font-size: 12px;
                border-radius: 10px;
                color:black;
            }
        }
    }

    p {
        margin: 20px 0;
        font-size: 20px;
        line-height: 1.2;
    }

    .price{
        margin-top: auto;
        display:  flex;
        justify-content: space-between;

        .price_digit{
            margin: auto auto auto 0;
        }

        .old {
            text-decoration: line-through;
            font-size: 12px;
            color: $gray_border_color;
        }
    }
}


@media (max-width: 768px){
    .tovar_card_new {
        max-width: 220px;
        .img_wrapper {
            height: 280px;
        }
    }
}

@media (max-width: 480px){
    .tovar_card_new {
        max-width: 45%;
        .img_wrapper {
            height: 220px;
        }
        p {
            margin-bottom: 10px;
            font-size: 18px;
        }
        .price {
            flex-direction: column;
            .button {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
}
