
@charset "UTF-8";

@import 'fonts';
@import 'vars';
@import 'null';
@import 'buttons';
@import 'icon-a';
@import 'new_head';
@import 'head_category_new';
@import 'tovars';
@import 'review';


.plash  {
    background-color: white;
    border-radius: 20px;
    padding: 5px 35px;
    color:black;
}

.d_flex {
    display: flex;
}

.f_c {
    flex-direction: column;
}

.j_sb {
    justify-content: space-between;
}

.g20 {
    gap:20px
}

.g40 {
    gap:40px
}

swiper-slide {
    height: auto;
}

/*--------Шапка----------*/

header ._wrapper {

}

header .messendger_head_blk {
    display: none;
}


.addres_head {
    margin: auto;
    position: relative;
    border-bottom: 1px dashed var(--main-color);
}

.addres_head::before {
    position: absolute;
    width:19px;
    height: 27px;
    color:var(--main-color);
    left:-30px;
    top:-5px;
    font-size: 24px;
    line-height: 27px
}

.cabinet {
    margin: auto 0 auto auto;
    position: relative;
}

.cabinet::before {
    width:27px;
    height:27px;
    position: absolute;
    left: -40px;
    top: -5px;
    font-size: 27px;
}

/*--------Шапка end----------*/

/*--------Блок управления в шапке----------*/

#header_control {
    border-top: 1px solid #D2D1D1;
    border-bottom: 1px solid #D2D1D1;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
}

#header_control ._wrapper{
    display: flex;
    justify-content: var(--main-hover-color);
}

.catalog_btn:hover{
    color:white;
    background-color: var(--main-hover-color);
}
.catalog_btn{
    background-color: var(--main-color);
    border-radius: 16px;
    color: white;
    padding:  14px 45px 14px 86px;
    font-size: 22px;
    margin: auto auto auto 0;

}

.catalog_btn span{
    position: relative;
}

.catalog_btn span::before {
    content: "";
    width:26px;
    height:15px;
    position: absolute;
    background-image: url(../img/icons/menu-burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left:-54px;
    top:3px
}

.header_search_form {
    background-color: #F4F4F4;
    border-radius: 16px;
    min-height: 50px;
    display: block;
    display: flex;
    margin: auto 20px;
    position: relative;
    flex: 1;
}

.header_search_button::before {
    font-size:22px;
}

.header_search_button {
    width:25px;
    margin: 0 10px 0 20px;
    border-radius: 16px;
    left:-54px;
    top:3px;

}

/*-Телефон-*/
.phone_head_blk {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: auto 20px auto 0;
}

.phone_head_blk span {
    color: #8C8B8B;
    font-size: 15px;
    margin: auto;
}

.phone_head_blk .phone {
    font-size: 22.3px;
    color:#161615;
    font-weight: 600;
    margin: auto;
}

/*-Мессенджеры-*/

.messendger_head_blk {
    display: flex;
    margin: auto;
}

.messendger_head_blk a{
    position: relative;
    margin: auto 20px;
}

.messendger_head_blk a::before {
    top:-8px;
}
/*
.messendger_head_blk .whatsapp::before {

    width: 18px;
    height: 18px;
    background-image: url(../img/icons/whatsapp.svg);
    position: absolute;
    left:-9px;
    font-size: 18px;
} */

.messendger_head_blk .telegram::before {
    font-size: 18px;
    width: 21px;
    height: 18px;
    position: absolute;
    left:-10px;
}

.messendger_head_blk .vk::before {
    width: 26px;
    height: 16px;
    position: absolute;
    background-size: cover;
    left:-13px;
    font-size: 20px;
}

.favorites_head {
    position: relative;
    margin:  auto;
    padding-left: 50px;
    display: none;
}

.favorites_head::before {
    position: absolute;
    width:30px;
    height:30px;
    border-radius: 50px;
    background-color: var(--main-color);
    font-size: 16px;
    color: white;
    line-height: 31px;
    text-align: center;
    left:10px;
    top:-7px
}

.favorites_head:hover::before {
    color:white;
    background-color: var(--main-hover-color);
}

.bascet_head {
    border: 1px solid var(--main-color);
    border-radius: 16px;
    padding: 14px 26px 14px 56px;
    color: var(--main-color);
    position: relative;
    margin:  auto 0 auto auto;
}

.bascet_head.active::before {
    color: white;
}

.bascet_head.active {
    color: white;
    border: var(--main-hover-color);
    background-color: var(--main-hover-color);
}

.bascet_head::before {
    position: absolute;
    width:18px;
    height:20px;
    left: 22px;
    top: calc(50% - 12px);
    font-size: 20px;
}

.bascet_head:hover::before {
    color: white;
}

.bascet_head:hover {
    background-color: var(--main-hover-color);
    border-color: var(--main-hover-color);
    color: white;
}

/*--------Блок управления в шапке end----------*/

/*--------Категории в шапке----------*/

#head_category ul{
    width:100%;
    display: flex;
    justify-content: space-between;
}

#head_category ul li.hidenet{
    display: none;
}

#head_category ul a:hover{
    background-color: var(--main-hover-color);
    border-color: var(--main-hover-color);
    color: white;
}

#head_category ul a{
    border-radius: 9px;
    border: 1px solid var(--main-color);
    padding: 5px 25px;
    position: relative;
    color: #757474;
    white-space: nowrap;
    display: block;
}

#head_category ul a.more,
#head_category ul a.action{
    padding: 5px 35px 5px 15px;

}

#head_category ul a.action::before{
    content: "";
}

#head_category ul a.action:hover::after {
    color: white;
}

#head_category ul a.more::before{
    content: "";
}

#head_category ul a.more:hover::after {
    color: white;
}

#head_category ul a.more::after,
#head_category ul a.action::after{
    position: absolute;
    width:15px;
    height:20px;
    right: 12px;
    top: calc(50% - 10px);
}

#head_category ul a.more::after {
    width:6px;
    height:13px;
    transform: rotate(90deg);
    right: 12px;
    top: calc(50% - 6px);
    font-size: 12px;
}


#head_category ul a.active {
    background-color: var(--main-hover-color);
    border-color: var(--main-hover-color);
    color:white;
}

#head_category ul a.active::after {
    color: white;
    transform: rotate(-90deg);
}

.more_wrapper .ower_cat{
    display: none;
    width:300px;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: white;
    border:1px solid var(--main-color);
    border-radius: 9px;
    padding: 10px 0;
    flex-direction: column;
    z-index: 9000;
}

.more_wrapper .ower_cat.showed{
    display: flex;
}


.more_wrapper .ower_cat a{
    border: none!important;
}


.more_wrapper {
    position: relative;
}


/*--------Категории в шапке end----------*/

/*--------Баннер----------*/



.banner_wrapper {
    width:100%;
    border-radius: 36px;
    overflow: hidden;
    position: relative;
}

.banner_wrapper .white_shadow{
    position:absolute;
    left: 0;
    right: 0;
    background: linear-gradient(to right,#FFFFFFA1,#FFFFFF00);
    z-index: 21;
    height: 100%;
}

.banner_wrapper img {
    z-index: 11;
}

.banner_wrapper .text_blk p{
    font-style: italic;
    font-size: 22px;
}

.banner_wrapper .text_blk h1{
    font-size: 58px;
    margin-bottom: 10px;
}

.banner_wrapper .text_blk {
    position: absolute;
    z-index: 111;
    top:calc(50% - 70px);
    left:10%;
}

/*--------Баннер end----------*/

/*--------Преимущества----------*/

.advantahes_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.adv_blk:hover .adv_description{
    background-color: var(--main-hover-color);
    transition: all .4s ease;
}

.adv_blk {
    max-width: 325px;
    display: flex;
    flex-direction: column;
    border-radius: 36px 0 36px 0;
    overflow: hidden;
}

.adv_blk .img_wrapper {
    max-height: 240px;
}

.adv_blk .adv_description {
    color: white;
    background-color: var(--main-color);
    padding: 10px 30px;
    font-size: 20px;
}

/*--------Преимущества end----------*/

/*--------Слайдер для хитов продаж----------*/



.hit_slider .swiper-slide{
    padding: 5px;
}

.hit_tovar_wrapper {
    border: 1px solid var(--main-gray-color);
    border-radius: 9px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.hit_tovar_wrapper:hover {
    color: var(--main-black-color);
    border-color: var(--main-hover-color);
}

.hit_tovar_wrapper:hover .btn_cart{
    width: 55px;
    height: 40px;
    border-radius: 30px 0 0 0;
    transition: all .4s ease;
    background-color: var(--main-hover-color);
}

.btn_cart {
    width:45px;
    height: 30px;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 10px 0 0 0;
    right: 0;
    bottom: 0;

    background-image: url(../img/icons/cart-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 19px;
}

.hit_tovar_wrapper .tov_info {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.old_price{
    font-size: 12px;
    text-decoration: line-through;
    font-weight: normal;
    color:#8C8B8B;
    margin: 0 0 auto 5px;
}

.tov_info .price{
    font-size: 18px;
    font-weight: bold;
    display: flex;
}

.hit_tovar_wrapper .tov_info h3{
    margin-bottom: 20px;
    font-size: 16px;
}

.hit_tovar_wrapper .img_wrapper {
    width:95px;
    height: 95px;
    overflow: hidden;
    border-radius: 5px;
}


/*--------Слайдер для хитов продаж end----------*/

/*--------Слайдер скидок и акций----------*/



.tovar_label_wrapper {
    position: absolute;
    z-index: 111;
    left:10px;
    top:10px
}

.tovar_label {
    width:50px;
    height:28px;
    border-radius: 20px 0 20px 0;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
}

.tovar_label.sale {
    background-color: #E24465;
}

.tovar_label.hit {
    background-color: #91B508;
}

.tovar_label.new {
    background-color: orange;
}

.tovar_blk_wrap .favorites{
    right:10px;
    top: 10px;
    position: absolute;
}

.sales_tovar_wrapper .favorites {
    right:10px;
    top:10px;
    position: absolute;
}

.favorites:hover::before {
    color: white;
    background-color: var(--main-hover-color);
}

.favorites::before {
    background-color: var(--main-blue-color);
    color: white;
    position: absolute;
    width:32px;
    height:32px;
    right: 0;
    border-radius: 40px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
}

.favorites {

    z-index: 111;
    display: block;
}

.favorites.active,
.tovar_wrap.in-favorites .like,
.tovar_wrap .like:hover
{
    background-image: url(../img/icons/favorites_hover.svg);
}

.empty_favorites {
    width: 300px;
    margin: 250px auto 0;
    position: relative;
    text-align: center;
    display: none;
}

.empty_favorites:before {
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(../img/icons/favorites_hover.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -220px;
    left: calc(50% - 100px);
}

.favorites-page .tovar_wrap:not(.in-favorites) {
    display: none;
}

.share:before {
    width:32px;
    height:32px;
    font-size: 32px;
}

.share {
    z-index: 111;
    display: block;
}

.favorites.all_control {
    position: relative;
    top:-30px
}

.tovar_blk_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tovar_blk_wrap .sales_tovar_wrapper {
    margin: 0 0 30px 0;
    min-width: 340px;
}

.tovar_blk_wrap .sales_tovar_wrapper .img_wrapper {
    min-height: 310px;
}

.sales_tovar_wrapper {
   border-radius: 9px;
   border: 1px solid var(--main-gray-color);
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   max-width: 340px;
   height: auto;
}

.sales_tovar_wrapper .tov_info a{
    color: var(--main-black-color);
}

.sales_tovar_wrapper.in-bascet {
    border: 1px solid var(--main-color);
}

.sales_tovar_wrapper .img_wrapper{
    width:100%;
    height: 210px;
}


.sales_tovar_wrapper .tov_info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sales_tovar_wrapper .tov_info h3{
    font-size: 16px;
    margin: 20px 0;
}

.card_bascet_btn,
.btn_in_cart {
    margin: auto 10px 10px 10px!important;
}
/*--------Слайдер скидок и акций end----------*/

/*--------Блок каталога----------*/

#catalog_section ._wrapper{
    display: flex;
    flex-wrap: wrap;
}

#catalog_section ._wrapper .sitebar h2{
    font-size: 38px;
    font-weight: bold;
}

#catalog_section ._wrapper .sitebar{
 max-width: 325px;
 min-width: 270px;
}

#catalog_section ._wrapper .tovars_blk{
    flex:1;
    margin-left: 40px;
}

/*--------Блок каталога end----------*/

/*--------Блок отзывов----------*/

.rew_head h2{
    margin-bottom: 0;
}

.rew_head .btn{
    max-height: 40px;
}

.rew_head {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.rew_blk {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: white;
    text-decoration: center;
    font-size: 14px;
    font-weight: normal;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 70px 15% 20px 15%;
    margin-top: 60px;
    border-radius: 50px 0 50px 0;
}

.rew_blk .foto_text_wrapper,
.rew_blk .foto_wrapper{
    border:4px solid white;
    width:95px;
    height:95px;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    left:calc(50% - 47px);
    top:-50px;
}

.rew_blk .foto_text_wrapper span{
    margin: auto;
}

.rew_blk .foto_text_wrapper{
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 32px;
    display: flex;
}

.rew_blk .text_wrapper {
    font-display: flex;
    flex-direction: column;
}

.rew_blk .text_wrapper a{
    margin: auto auto 0 auto;
}
.rew_blk .text_wrapper p{
    margin: 30px 0;
    height: 112px;
}
.rew_blk .text_wrapper h3{
    font-size: 22px;
    font-weight: bold;
    min-height: 44px;
}

.rew_blk a{
    color: white
}

.banner_controll {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.swiper-pagination-bullet {
    width:10px;
    height: 10px;
    opacity: 1;
    background-color: white;
    border: 1px solid var(--main-color);
}

.swiper-pagination-bullet-active {
    background-color:var(--main-color);
}
/*--------Блок отзывов end----------*/

/*--------О компании на главной----------*/


/*--------О компании на главной end----------*/

/*--------Оформление текстовых блоков----------*/

.text_blk h2{
    line-height: 1.3;
}

.text_blk h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text_blk .read_more{
    margin-top: 20px;
    display: inline-block;
}
.text_blk p{
    margin: 1.5em 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
}

.text_blk li:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 5px;
    left: 0;
    background-color: var(--main-color);
}

.text_blk li{
    padding-left: 20px;
    position: relative;
    margin: 5px 0;
}

.text_blk a {
    color:var(--main-color)
}


/*--------Оформление текстовых блоков end----------*/

/*--------Подвал----------*/

footer ._wrapper{
    display: flex;
    justify-content: space-between;
}

.footer_contacts {
    margin: auto 0 auto auto;
    display: flex;
    flex-direction: column;
}

.footer_contacts .adress::before{
    position: absolute;
    width: 19px;
    height: 27px;
    left: -30px;
    top: -2px;
    font-size: 27px;
}

.footer_contacts .adress{
    font-size: 22px;
    margin-bottom: 10px;
    position: relative;
}

.footer_contacts .phone::before{
    position: absolute;
    width: 22px;
    height: 22px;
    left: -30px;
    top: 2px;
    font-size: 22px;
}

.footer_contacts .phone{
    position: relative;
    font-size: 22px;
}

/*--------Подвал end----------*/

/*--------Общие стили----------*/

.h1_page {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1em;
}

.margin_top_bottom {
    padding: 24px 0;
}

section {
    padding: 24px 0;
}

footer {
    padding-bottom: 0;
}

section h2 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 30px;
}

textarea,
input {
    background-color: #F4F4F4;
    border-radius: 16px;
    min-height: 50px;
    padding: 0 15px;
}

.radio_label{
    width:100%;
    display: block;
    margin: 10px 0;
}

.radio_label input{
    display: none;

}

.radio_label input:checked ~ span:before{
    content: "";
    background-color: var(--main-color);
    border: 3px solid #F4F4F4;
}

.radio_label span:before{
    content: "";
    border-radius: 30px;
    background-color: #F4F4F4;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
}

.radio_label span{
    padding-left: 30px;
    position: relative;
}

textarea {
    padding-top: 10px;
}

::-webkit-input-placeholder {
    color: #757474;
    font-weight: 400;
    font-size: 18px;
  }

.rub_symbol {
    font-family: Arial,Helvetica,sans-serif;
}


.swiper_obj {
    position: relative;
}

.swiper_obj .btn_all {
    position: absolute;
    top: calc(50% - 20px);
    z-index: 10;
    cursor: pointer;
    background-color: white;
}

.swiper_obj .btn_left {
    transform: rotate(180deg);
    left: -20px;
}

.swiper_obj .btn_right {
    right: -20px;
    z-index: 10;
}

.btn_all:hover {
   border-color: var(--main-hover-color);
   background-color: var(--main-hover-color);
}

.btn_all {
    width:40px;
    height:40px;
    border-radius: 50px;
    border: 1px solid var(--main-gray-color);
    border: 1px solid #D2D1D1;
}

.btn_all:hover:before {
    color: white;
}

.btn_all:before {
    content: "\e904";
    font-family: 'florida' !important;
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}


.btn {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 20px;
    text-align: center;
    padding: 0 20px;
    transition: all .4s ease;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    display: block;
    min-height: 35px;
    line-height: 35px;
}


.btn:hover {
    color: white;
    background-color:var(--main-hover-color);
    border-color:var(--main-hover-color);
}

.btn_whatsapp:hover {
    background-color: #128c7e;
    border-color: #128c7e;
}

.btn_whatsapp {
    background-color: #25d366;
    border-color: #25d366;
    color: white
}

.btn_white {
    background-color: white;
    color: var(--main-color);
}


.btn_white:hover {
    background-color: white;
    color: var(--main-color);
    opacity: 0.8;
}

.btn_empty {
    background-color: white;
    color: var(--main-color);
}

.btn_empty:hover {
    background-color: var(--main-hover-color);
    border: 1px solid var(--main-hover-color);
    color: white;
}


.btn_icon_after {
    padding-right: 40px;
}

.btn_icon_after::after{
    content: "";
    position: absolute;
    width:12px;
    height: 6px;
    right: 15px;
    top: calc(50% - 2px);
    background-image: url(../img/icons/arrow-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.ch_label {
    width:100%;
    margin: 5px 0;
}

.ch_label input{
    display: none;
}

.ch_label span{
    position: relative;
    padding-left: 30px;
}

.ch_label span::before{
    content:"";
    width:16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #D2D1D1;
    position: absolute;
    color:white;
    left:0;
}

.ch_label input:checked ~ span::before{
    content:'\2714';
    background-color: var(--main-color);
}

#uni_map {
    height: 520px;
    position: relative;
    padding-bottom: 0px;
}

#render_map {
    height: 520px;
    width:99.5%;
    position: absolute;
    left: 0;
    top:0;
}

#uni_map .contacts{
    width:400px;
    height: 80%;
    position: absolute;
    background: $main_color;
    z-index: 1111;
    top:calc(20% / 2);
    left: 10%;
    padding: 30px 50px;
    color: white;
}

#uni_map .contacts h3 a{
    color: white;
}

#uni_map .contacts h3{
    font-size: 22px;
    margin-bottom: 35px;

}

#uni_map .contacts p{
    font-size: 14px;
    margin-bottom: 5px;
}

#uni_map .contacts p.social{
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 30px;
}

#uni_map .messendger_head_blk {
    .sprite_icon {
        width: 20px;
        height: 20px;
    }

    .sprite_icon.vk_icon {
        width: 23px;
    }

    a {
        margin: auto 40px auto 0;
        fill: white;
    }
}

#uni_map .messendger_head_blk {
    margin-top: 20px;
    margin-left: 10px;
}

#uni_map .messendger_head_blk a::before {
    color:white;
    font-size: 18px;
}

/* #uni_map .messendger_head_blk .whatsapp::before {
    content: "";
    background-image: url(../img/icons/whatsapp-white.svg);
}

#uni_map .messendger_head_blk .telegram::before {
    content: "";
    background-image: url(../img/icons/telegram-white.svg);
}
*/

#uni_map .messendger_head_blk .vk::before {
    font-size: 25px;
    height: 22px;
    line-height: 17px;
}

/*--------Общие стили end----------*/


/*-----Скролбар-----*/

::-webkit-scrollbar {
    overflow-y: scroll;
    width: 7px;
    background-color: #f9f9fd;
  }

::-webkit-scrollbar-thumb {
    background-color: grey;
}

.all_city_list::-webkit-scrollbar-thumb,
.page__sidebar-navigation-menu::-webkit-scrollbar-thumb,
.page__sidebar-navigation-body-menu-options::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2.5px;
  background: #dde5ec;
}

/*-----Скролбар end-----*/

/*-----Блок контактов на странице-----*/
.contacts_wrapper {
    display: flex;
    flex-direction: column;
}

.contacts_wrapper *{
    margin-bottom: 5px;
}

.contacts_wrapper .sub_h{
    color: #8C8B8B;
    font-size: 14px;
}

.contacts_wrapper .param{
    font-size: 22px;
    color: #161615;
    font-weight: 600;
    margin-bottom: 40px;
}

.contacts_wrapper .messendger_head_blk  {
margin:  0 auto 40px 0;
height: 30px;
}

.contacts_wrapper .text_blk{
    font-size: 14px;
    font-weight: light;
    line-height: 1.2;
}

/*-----Блок контактов на странице end-----*/

/*-----Страница отзывов-----*/
.rew_in_page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rew_in_page .rew_blk{
    width:32%;
    padding: 70px 30px 20px 30px;
    margin-bottom: 20px;
    background-color: white;
    color:var(--main-color);
    border: 1px solid var(--main-color);
}

.rew_in_page .rew_blk a{
   color:var(--main-color)
}

.rew_in_page .rew_blk .foto_wrapper{
    border: 4px solid var(--main-color);
}

@media (max-width: 1024px){
    .rew_in_page .rew_blk {
        width: 48%;
    }
}

@media (max-width: 580px){
    .rew_in_page .rew_blk {
        width: 100%;
    }
}

/*-----Страница отзывов end-----*/

/*-----Страница блога-----*/

.blog_in_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog_blk {
    display: flex;
    flex-direction: column;
    width:31%;
    margin-bottom: 40px;
}

.blog_blk:hover {
    color: inherit;
}

.blog_blk .img_wrp {
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.blog_blk h2{
    font-size: 22px;
    margin: 1em 0;
}

.blog_blk .data{
    color: #8C8B8B;
    font-size: 14px;
    margin-bottom: 20px;
}

.blog_blk .descr{
    font-size: 16px;
    margin-top: auto;
}

@media (max-width: 1024px){
    .blog_blk {
        width: 48%;
    }
}

@media (max-width: 580px){
    .blog_blk {
        width: 100%;
    }
}

/*-----Страница блога end-----*/

/*-----Страница статьи блога-----*/

.page_img_wrapper {
    width: 320px;
    height: 320px;

    padding: 5px;
    border: 2px dashed var(--main-color);

    margin-bottom: 30px;
}

/*-----Страница статьи блога end-----*/

@media (max-width: 1480px){
    ._wrapper {
        width:96%;
        margin: 0 2%;
    }
}

@media (max-width: 1360px){
    .adv_blk {
        width:23%;
    }

    .tovar_blk_wrap .sales_tovar_wrapper {
        min-width: 300px;
    }
}

@media (max-width: 1280px){
    .tovar_blk_wrap .sales_tovar_wrapper {
        min-width: 290px;
        max-width: 25%;
    }
}

@media (max-width: 1024px){
    .logo {
        height: 50px;
    }

    footer *,
    header *{
        font-size: 14px;
    }

    .footer_contacts .phone::before{
        width:17px;
        height: 17px;
        left:-25px
    }

    .footer_contacts .adress::before,
    .addres_head::before {
        width:14px;
        height: 25px;
        left: -25px;
        top:-3px;
    }

    .cabinet::before {
        width:23px;
        height: 23px;
        left:-35px;
        top:-3px;
    }

    .favorites_head span{
        display: none;
    }

    .favorites_head::before {
        top:calc(50% - 15px);
        left: calc(50% - 15px);
    }

    .catalog_btn {
        font-size: 18px;
        padding: 14px 25px 14px 66px;
    }

    .catalog_btn span::before {
        left:-44px;
        top:1px;
    }

    .header_search_form {
        font-size: 18px;
    }

    .bascet_head {
        padding: 14px 20px 14px 50px;
    }

    #head_category ul a{
        margin-right: 10px;
    }

    #head_category ul {
        overflow-x: auto;
    }



    #head_category ul::-webkit-scrollbar {
        display: none;
    }

    #head_category .more_wrapper {
        display: none;
    }

    #head_category ul li.hidenet {
        display: block;
    }

    .adv_blk .adv_description {
        font-size: 18px;
    }

    .footer_contacts .phone,
    .footer_contacts .adress {
        font-size: 18px;
    }

    #uni_map .contacts {
        left:5%;
    }
}

@media (max-width: 912px){
    #header_control .messendger_head_blk,
    .phone_head_blk,
    .main_menu {
        display: none;
    }

    .adv_blk {
        min-width: 250px;
        margin-right: 20px;
    }

    .advantahes_wrapper {
        overflow-x: auto;
    }

    .advantahes_wrapper::-webkit-scrollbar {
        display: none;
    }

    #catalog_section ._wrapper {
        flex-direction: column;
    }

    #catalog_section ._wrapper .tovars_blk {
        margin-left: 0;
        margin-top: 20px;
    }

    #catalog_section ._wrapper .sitebar {
        max-width: 100%;
    }

    #catalog_section ._wrapper .sitebar h2 {
        display: none;
    }

    .tovar_blk_wrap .sales_tovar_wrapper {
        min-width: 279px;
    }

    .swiper_obj .btn_left {
        left: 0;
    }

    .swiper_obj .btn_right {
        right: 0;
    }
}

@media (max-width: 768px){
    .tovar_blk_wrap .sales_tovar_wrapper {
        min-width: 48%;
    }

    #about_main ._wrapper .img_wraper {
        display: none;
    }

    #about_main ._wrapper .text_blk {
        margin-left: 0;
    }

    #uni_map #render_map,
    #uni_map .contacts
    {
        position: unset;
    }

    #uni_map .contacts {
        border-radius: 0;
        width: 100%;
    }

    #uni_map #render_map {
        height: 250px;
    }

    #uni_map {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    footer {
        padding: 0 0 60px 0;
    }


.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
  }
  .thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}

@media (max-width: 480px){
    footer {
        padding-top: 0;
    }
    section {
        padding: 14px 0;
    }

    .addres_head {
        display: none;
    }

    header ._wrapper {
        min-height: unset;
        padding: 10px 0;
    }

    .logo {
        height: 40px;
        width: 60px;
    }

    header .messendger_head_blk {
        display: flex;
        margin: auto 0 0 auto;
    }

    .bascet_head,
    .favorites_head,
    .catalog_btn {
        display: none;
    }

    .header_search_form {
        flex: 1;
    }

    .banner_wrapper {
        border-radius: 15px;
    }

    .banner_wrapper img {
        min-height: 150px;
        opacity: 0.9;
    }

    .banner_wrapper .text_blk {
        top: calc(50% - 45px);
    }

    .banner_wrapper .text_blk h1 {
        font-size: 32px;
    }

    .banner_wrapper .text_blk p {
        font-size: 18px;
        margin: 10px 0;
    }

    .adv_blk {
        border-radius: 15px 0 15px 0;
    }

    section h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .swiper_obj .btn_all {
        display: none;
    }

    .sales_slider .swiper-slide {
        max-width: 80%;
    }

    .hit_slider .swiper-slide{
        max-width: 80%;
    }

    .tovar_blk_wrap .sales_tovar_wrapper .img_wrapper {
        min-height: unset;
    }

    .rew_head {
        flex-direction: column;
    }

    .rew_head h2 {
        margin-bottom: 20px;
    }

    .rew_head .btn {
        max-width: 50%;
    }

    .rew_head {
        margin-bottom: 20px;
    }

    footer ._wrapper {
        flex-direction: column;
        text-align: center;
    }

    footer .logo {
        margin:  0 auto 10px auto;
    }

    footer .messendger_head_blk {
        margin: 20px auto;
    }

    .footer_contacts {
        margin: 20px auto;
        display: block;
        width:50%;
    }

    .footer_contacts *{
        display: inline-block;
    }

    .header_search_form {
        min-height: 40px;
        border-radius: 12px;
    }

    .header_search_form input{
        min-height: 100%;
        width:100%;
    }

    #header_control {
        padding: 7px 0;
    }
}

/* Платежные системы */

.pay_sys2 img{
    height: 35px;
    width: auto;
    margin: auto 15px auto 0;
}

.pay_sys {
    margin-bottom: 20px;
}

.pay_sys img{
    height: 25px;
    width: auto;
    margin: auto 15px auto 0;
}

.policy_line {
    background-color: var(--main-gray-color);

    text-align: center;
    font-size: 12px;
    padding: 3px;
}

.policy_line a{
    color: black;
}

.policy_line a:hover{
    text-decoration: underline;
}

/* -------------- Страница и блок доставки ------------------- */

#yandex_delivery_section {
    padding: 50px 0;
}

#yandex_delivery_section ._wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#yandex_delivery_section .bascet_icon {
    padding-bottom: 50px;
}

#yandex_delivery_section .bascet_icon:before {
    width: 170px;
    height: 170px;
    font-size: 170px;
}

@import "social";
@import "header-line";
@import "about";
